In [1]:
# import modules
import pandas as pd

In [2]:
# create variable for file to load
file_to_load = "Resources/students_complete.csv"

In [7]:
# create df from imported data
student_data_df = pd.read_csv(file_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
student_names = student_data_df["student_name"].tolist()

In [9]:
name = "Mrs. Linda Santiago"
name.split()

['Mrs.', 'Linda', 'Santiago']

In [25]:
students_to_fix = []
for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
        
len(students_to_fix)

1531

In [19]:
prefixes = []
suffixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
        
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [20]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [22]:
# iterate though list and replace prefixes/suffixes
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

In [23]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [28]:
students_fixed = []
student_names = student_data_df["student_name"].tolist()
for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)
        
len(students_fixed)

151