In [1]:
# Add modules
import pandas as pd

In [2]:
# Create variables for the datasheets we are importing
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [5]:
# Read the datasheets into a pandas dataframe
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

In [8]:
school_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [9]:
student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [12]:
student_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [13]:
school_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object